In [46]:
import pandas as pd

In [105]:
path = "/Users/matthewhwang/Galvanize/Capstone1/Data/GTrends/Master Lists/MidWest_Master.csv"
df = pd.read_csv(path)

In [106]:
df = df.set_index("Unnamed: 0")

In [107]:
df = df.replace("<1",0)

In [108]:
df.head()

,Feloni,Kid Cudi,Eminem,Trick-Trick,MC Swift,Da Brat,Tech N9ne,Danny Brown,Proof,Bone Thugs-N-Harmony,...,Kuniva,Common,D12,Lupe Fiasco,Kanye West,Obie Trice,Bizarre,Bad Meets Evil,nelly,Kon Artist
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
2004-01,0,0,18,0,100,17,15,2,45,25,...,40,51,5,0,6,100,100,0,41,75
2004-02,0,0,19,0,0,13,18,2,52,37,...,0,54,6,0,12,71,84,1,43,0
2004-03,0,0,24,100,0,14,12,1,47,29,...,82,52,69,0,11,32,85,1,38,0
2004-04,86,0,23,0,94,14,15,2,46,22,...,100,52,100,0,11,48,78,0,34,71
2004-05,79,0,19,0,87,14,16,2,45,31,...,86,50,75,0,11,38,87,1,29,65

In [109]:
names = list(df)

In [110]:
df = df.astype('int32')

In [111]:
df.dtypes

Feloni                  int32
Kid Cudi                int32
Eminem                  int32
Trick-Trick             int32
MC Swift                int32
Da Brat                 int32
Tech N9ne               int32
Danny Brown             int32
Proof                   int32
Bone Thugs-N-Harmony    int32
Chance The Rapper       int32
j dilla                 int32
Big Sean                int32
Royce da 59             int32
Twista                  int32
Kuniva                  int32
Common                  int32
D12                     int32
Lupe Fiasco             int32
Kanye West              int32
Obie Trice              int32
Bizarre                 int32
Bad Meets Evil          int32
nelly                   int32
Kon Artist              int32
dtype: object

In [112]:
for each in names:
    df[each+" frac"] = df[each] / df[each].sum()

In [113]:
df = df.drop(names,axis=1)

In [114]:
df.head()

,Feloni frac,Kid Cudi frac,Eminem frac,Trick-Trick frac,MC Swift frac,Da Brat frac,Tech N9ne frac,Danny Brown frac,Proof frac,Bone Thugs-N-Harmony frac,...,Kuniva frac,Common frac,D12 frac,Lupe Fiasco frac,Kanye West frac,Obie Trice frac,Bizarre frac,Bad Meets Evil frac,nelly frac,Kon Artist frac
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
2004-01,0.000000,0.0,0.004866,0.000000,0.021786,0.004405,0.002442,0.000791,0.004479,0.008495,...,0.017582,0.004297,0.004921,0.0,0.002246,0.036114,0.008338,0.000000,0.010807,0.029036
2004-02,0.000000,0.0,0.005137,0.000000,0.000000,0.003369,0.002931,0.000791,0.005175,0.012572,...,0.000000,0.004549,0.005906,0.0,0.004493,0.025641,0.007004,0.001786,0.011334,0.000000
2004-03,0.000000,0.0,0.006488,0.102881,0.000000,0.003628,0.001954,0.000395,0.004678,0.009854,...,0.036044,0.004381,0.067913,0.0,0.004118,0.011557,0.007087,0.001786,0.010016,0.000000
2004-04,0.020554,0.0,0.006218,0.000000,0.020479,0.003628,0.002442,0.000791,0.004578,0.007475,...,0.043956,0.004381,0.098425,0.0,0.004118,0.017335,0.006503,0.000000,0.008962,0.027487
2004-05,0.018881,0.0,0.005137,0.000000,0.018954,0.003628,0.002605,0.000791,0.004479,0.010533,...,0.037802,0.004212,0.073819,0.0,0.004118,0.013723,0.007254,0.001786,0.007644,0.025165

In [115]:
df.to_csv(r'/Users/matthewhwang/Galvanize/Capstone1/Data/GTrends/MidWest_GTrend_Ratio.csv')