In [1]:
WC_spotify = [692848,586439,6848682,289612,212261,90560,2168141,186010,3084248,538891,2716305,13107425,5049895,4455266,1869034,169854,661577,2495924,548580,972886,280146,368011,2125159,928212,3266304]
EC_spotify = [1581959,517238,4276986,320953,437374,724620,5494448,865204,1664562,9146704,1034099,467370,1416932,4874065,623063,319555,1471420,374281,437300,1241700,378518,511801,954078,534970,759530]
DS_spotify = [316002,157847,1169457,4835400,466483,314378,8249588,448851,134488,340270,239086,1119359,416774,1673630,1354876,477956,115746,2966825,498741,453624,574580,535793,9146704,363421,159493]
MW_spotify = [244,3229603,29393199,85747,66,2015123,1368185,422165,83941,1217625,4333818,322229,6516509,357550,513930,19840,536053,1142494,1222346,10259641,398190,74657,839995,1325347,0]

In [2]:
WC_artist = ['Nate Dogg',
 'Ab-Soul',
 'tupac shakur',
 'Mack 10',
 'Mac Dre',
 'Outlawz',
 'The Game',
 'MC Ren',
 'Ice Cube',
 'Ice-T',
 'Schoolboy Q',
 'kendrick lamar',
 'Snoop Dogg',
 'Dr. Dre',
 'YG',
 'MC Eiht',
 'Jay Rock',
 'N.W.A',
 'Westside Connection',
 'Warren G',
 'Kurupt',
 'The Dogg Pound',
 'Easy E',
 'Vince Staples',
 'Tyler, the Creator']

In [4]:
EC_artist = ['DMX',
 'Redman',
 'The Notorious B.I.G.',
 'KRS-One',
 'Ol Dirty Bastard',
 'Mos Def',
 '50 Cent',
 'Mobb Deep',
 'Nas',
 'J. Cole',
 'A Tribe Called Quest',
 'Gang Starr',
 'Wu-Tang Clan',
 'Jay-Z',
 'Run DMC',
 'Raekwon',
 'Joey Bada$$',
 'Rakim',
 'Ghostface Killah',
 'Busta Rhymes',
 'Big L',
 'Public Enemy',
 'Method Man',
 'Big Pun',
 'LL Cool J']

In [7]:
DS_artist = ['Mystikal',
 'Killer Mike',
 'Outkast',
 '2 Chainz',
 'Trick Daddy',
 'Project Pat',
 'Lil Wayne',
 'Underground Kingz',
 'Andr√© 3000',
 'Geto Boys',
 'Big Boi',
 'yelawolf',
 'Scarface',
 'Ludacris',
 'Young Jeezy',
 'Pimp C',
 'Goodie Mob',
 'T.I.',
 'Big K.R.I.T.',
 'Bun B',
 'Three 6 Mafia',
 'Juvenile',
 'J. Cole',
 'David Banner',
 'Eightball & MJG']

In [8]:
MW_artist=['Feloni',
 'Kid Cudi',
 'Eminem',
 'Trick-Trick',
 'MC Swift',
 'Da Brat',
 'Tech N9ne',
 'Danny Brown',
 'Proof',
 'Bone Thugs-N-Harmony',
 'Chance The Rapper',
 'j dilla',
 'Big Sean',
 'Royce da 59',
 'Twista',
 'Kuniva',
 'Common',
 'D12',
 'Lupe Fiasco',
 'Kanye West',
 'Obie Trice',
 'Bizarre',
 'Bad Meets Evil',
 'nelly',
 'Kon Artist']

In [23]:
Top_WC = WC_artist[WC_spotify.index(max(WC_spotify))] 
print("WC : " + Top_WC)
Top_EC = EC_artist[EC_spotify.index(max(EC_spotify))] 
print("EC : " + Top_EC)
Top_DS = DS_artist[DS_spotify.index(max(DS_spotify))] 
print("DS : " + Top_DS)
Top_MW = MW_artist[MW_spotify.index(max(MW_spotify))] 
print("MW : " + Top_MW)

WC : kendrick lamar
EC : J. Cole
DS : J. Cole
MW : Eminem

In [24]:
import pandas as pd

In [39]:
WC = {"Artist":WC_artist,"Followers_Spotify":WC_spotify}
df_wc = pd.DataFrame(WC)
df_wc.sort_values(by=["Followers_Spotify"], ascending=False).head()

                Artist  Followers_Spotify
11      kendrick lamar           13107425
2         tupac shakur            6848682
12          Snoop Dogg            5049895
13             Dr. Dre            4455266
24  Tyler, the Creator            3266304

In [38]:
EC = {"Artist":EC_artist,"Followers_Spotify":EC_spotify}
df_ec = pd.DataFrame(EC)
df_ec.sort_values(by=["Followers_Spotify"], ascending=False).head()

                  Artist  Followers_Spotify
9                J. Cole            9146704
6                50 Cent            5494448
13                 Jay-Z            4874065
2   The Notorious B.I.G.            4276986
8                    Nas            1664562

In [40]:
DS = {"Artist":DS_artist,"Followers_Spotify":DS_spotify}
df_ds = pd.DataFrame(DS)
df_ds.sort_values(by=["Followers_Spotify"], ascending=False).head()

       Artist  Followers_Spotify
22    J. Cole            9146704
6   Lil Wayne            8249588
3    2 Chainz            4835400
17       T.I.            2966825
13   Ludacris            1673630

In [41]:
MW = {"Artist":MW_artist,"Followers_Spotify":MW_spotify}
df_mw = pd.DataFrame(MW)
df_mw.sort_values(by=["Followers_Spotify"], ascending=False).head()

               Artist  Followers_Spotify
2              Eminem           29393199
19         Kanye West           10259641
12           Big Sean            6516509
10  Chance The Rapper            4333818
1            Kid Cudi            3229603

In [ ]:
https://www.azlyrics.com/k/kendricklamar.html
https://www.azlyrics.com/j/jcole.html
https://www.azlyrics.com/l/lilwayne.html
https://www.azlyrics.com/e/eminem.html